{% extends 'Base.html' %}

{% load static %}
{% block title %}
	Hotels
{% endblock %}

{% block content %}

<!-- ***** Breadcumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/hero-1.jpg)"></div>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Listing Destinations Area Start ***** -->
    <section class="dorne-listing-destinations-area section-padding-100-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading dark text-center">
                        <span></span>
                        <h4>Les meilleures hotels de la région</h4>
                        <p>Le confort au rendez-vous</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-1.jpg' %} " alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Adamaoua Hotel</h5>
                                <p>Au coeur de la ville</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-2.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel TRANSCAM</h5>
                                <p>Le prestige et le calme cet hotel compte plus de 50 chambres - Prix à partir de 30.000 FCFA - Quartier Socaret 
                                    Tél. +237 6/96.03.95.68 - +237 6/99.85.44.99
				   Situé près du lac, à seulement 500 mètres du centre ville, l'hôtel Transcam vous accueille 
					dans un cadre très soigné avec des infrastructures en parfait état de fonctionnement.
					Le restaurant vous propose tous les jours des buffets et des plats à la carte.
					Tous les vendredis soirs, animation musicale et barbecue sur la terrasse. 
					L'hôtel dispose d'une annexe avec des chambres sous forme de boukarou. 
					L'Hôtel Transcam est un établissement de la SHNC (Société Hôtelière du Nord-Cameroun).
                                </p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-3.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel Mentom Palace</h5>
                                <p>Spacieux et Spectaculaire -Prix à partir de 12.000 FCFA - Quartier Balagui II 
                                  Tél. +237 6/95.59.93.31
				  L'hôtel propose des chambres spacieuses avec ventilateur et eau chaude. 
				Les salles de bains sont également grandes et agréables. 
				 Dans la cour, à l'Est des logements, le Village Metong Bar
				fait son show. Pour un verre en plein air, il y a des petites paillotes. 
				Un restaurant assure le service des petits déjeuners,des déjeuners et des dîners.
		                </p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-1.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Adamaoua Hotel</h5>
                                <p>Au coeur de la ville</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-2.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel TRANSCAM</h5>
                                <p>Le prestige et le calme</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-3.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel Mentom Palace</h5>
                                <p>Spacieux et Spectaculaire</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-1.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Adamaoua Hotel</h5>
                                <p>Au coeur de la ville</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-2.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel TRANSCAM</h5>
                                <p>Le prestige et le calme</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Features Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-features-area mb-50">
                        <img src="{% static 'img/feature-3.jpg' %}" alt="">
                        <!-- Price -->
                        <div class="price-start">
                            <p>FROM $59/night</p>
                        </div>
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Hotel Mentom Palace</h5>
                                <p>Spacieux et Spectaculaire</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
