{% load static %}
 {% load leaflet_tags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'img/core-img/favicon.ico' %} ">

    <!-- Core Stylesheet -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet">
    <link href=" {% static 'css/bootstrap/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Responsive CSS -->
    <link href=" {% static 'css/responsive/responsive.css' %} " rel="stylesheet">
   
     {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>
    <!--<script type="text/javascript">
      

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<img width="300" src="${props.picture_url}"/><h3>${props.title}</h3><p>${props.description}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
    
-->
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="dorne-load"></div>
    </div>

    <!-- ***** Search Form Area ***** -->
    <div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Rechercher des destinations ou des evenements">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html"><img src="{% static 'img/core-img/logo.png' %} " alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                        <!-- Nav -->
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'accueil' %}">Accueil <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'evenement:evenement' %}">Evenements</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href=" {% url 'hotel:hotel' %} ">Hotels</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'restaurant:restaurant' %}">Restaurants</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'sitetouristique:site' %}">Sites touristiques</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact:contact' %}">Contact</a>
                                </li>
                            </ul>
                            <!-- Search btn -->
                            <div class="dorne-search-btn">
                                <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> Chercher</a>
                            </div>
                            <div class="dorne-add-listings-btn">
                                <a href="#" class="btn dorne-btn">+ Ajouter une place</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    {% block content %}    {% endblock %}

      <footer class="dorne-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-flex align-items-center justify-content-between">
                    <div class="footer-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer-social-btns">
                        <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->

    <!-- jQuery-2.2.4 js -->
    <script src=" {% static 'js/jquery/jquery-2.2.4.min.js' %} "></script>
    <!-- Popper js -->
    <script src=" {% static 'js/bootstrap/popper.min.js' %} "></script>
    <!-- Bootstrap-4 js -->
    <script src=" {% static 'js/bootstrap/bootstrap.min.js' %} "></script>
    <!-- All Plugins js -->
    <script src=" {% static 'js/others/plugins.js' %} "></script>
    <!-- Active JS -->
    <script src=" {% static 'js/active.js' %} "></script>
</body>

</html>